.test{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
li{
    list-style-type: none;
}

.item-nav {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 6em;
}

.item-nav a {
    text-decoration: none;
}